header {
    background-color: #1B2431;
    color: white;
}

body { 
    background-color: #016795;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0;
    font-size: 1.5vw;
}

#nav_buttons ul {
    list-style: none; 
    display: flex;
    justify-content: center;
    padding: 2%; 
    margin: 0%;  
}

#nav_buttons ul li {
    margin: 0 75px; 
    padding: 0.5%;
    border: 0.125vw solid white; 
    border-radius: 10%;
}

#nav_buttons a {
    color: #FAFAD2;
    text-decoration: none; 
}

#image {
    border-radius: 50%;
}

#main_article {
    background-color: #016795;
    color: #DCDCDC;
    margin: 0;
    padding: 1%;
    display: flex;
    margin-left: 5%;
    margin-right: 8%;
}

#at_a_glance {
    margin-top: 10%;
}

.underscore_line {
    border: none;
    border-top: 5px solid #DCDCDC; 
    width: 100%; 
    margin: 0; 
    margin-top: 0%;
    margin-bottom: 10%;
}

#gcses {
    margin-bottom: 2.5%;
}

#a_levels {
    margin-bottom: 2.5%;
}

#education {
    margin-top: 10%;
    margin-bottom: 7.5%;
}

.tp_icap_title ul {
    list-style: disc; 
    padding-left: 5%; 
    margin-left: 0; 
}

.tp_icap_title li {
    margin-bottom: 10px; 
}

.text-container {
    display: flex;
    align-items: center; 
}

.text-image {
    margin-right: 2%; 
    border-radius: 50%; 
}

#tp_icap_title h4 {
    margin: 0; 
}

#tp_icap_text {
    padding: 0;
    margin-left: 5.5%;
    margin-bottom: 12.5%;
}

footer {
    background-color: #1E488F;
    color: wheat;
    padding: 1%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* display: flex;
justify-content
align-items */

/* colour pallet:
blocky dark
#1B2431
inhaling peacock blue
#016795
ordained cobalt
#1E488F */