header {
    background-color: #1B2431;
    color: white;
}

body { 
    background-color: #016795;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0;
    font-size: 1.5vw;
}

#nav_buttons ul {
    list-style: none; /* Removes bullet points */
    display: flex;
    justify-content: center;
    padding: 2%; /* Removes default padding */
    margin: 0%;  /* Removes default margin */
}

#nav_buttons ul li {
    margin: 0 75px; /* Adds spacing between links */
    padding: 0.5%;
    border: 5%, solid white;
    border-radius: 10%;
}

#nav_buttons a {
    color: #FAFAD2;
    text-decoration: none; /* Removes underline from links */
}

#image {
    border-radius: 50%;
}

#main_article {
    background-color: #016795;
    color: #DCDCDC;
    margin: 0;
    padding: 1%;
    display: flex;
    margin-left: 5%;
    margin-right: 8%;
}

#gcses {
    margin-bottom: 2.5%;
}

#a_levels {
    margin-bottom: 2.5%;
}

#education {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.tp_icap_title ul {
    list-style: disc; /* Ensures bullet points are displayed */
    padding-left: 5%; /* Space for bullet points */
    margin-left: 0; /* Removes default margin */
}

.tp_icap_title li {
    margin-bottom: 10px; /* Adds space between list items */
}

.text-container {
    display: flex;
    align-items: center; /* Aligns items vertically */
}

.text-image {
    margin-right: 2%; /* Space between the image and the text */
    border-radius: 50%; /* Makes the image circular */
}

#tp_icap_title h4 {
    margin: 0; /* Removes default margins from the heading */
}

#tp_icap_text {
    padding: 0;
    margin-left: 5.5%;
}

/* display: flex;
justify-content
align-items */

/* colour pallet:
blocky dark
#1B2431
inhaling peacock blue
#016795
ordained cobalt
#1E488F */